<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1">
    <img src="./static/images/bg_image.jpg" height="100%" width="100%"/>
</div>

<h1>Frequently Asked Questions about OMG (Oh My Genes)</h1><br><br>

Q: Does OMG accpet Excel file format, for example, xlxs?<br>
A: No.  It accepts only plain text files, with .txt or .xls as file name extensions.<br>
The file must contain three columns, gene id, control sample, and treatment sample.<br><br>

Q: How long do you keep my uploaded file?<br>
A: We don't keep your file.  Your uploaded file will be deleted immediately after showing results.<br><br>

Q:What is the use of the progress bar at the bottom of the chart?<br>
A:You can use the mouse to drag the progress bar or the scroll wheel to control the size of the progress bar to see different ranges of F and C of points.<br><br>

Q:What does the progress bar at the bottom left of the chart do?<br>
A:You can use the mouse to drag the small triangle to show different ranges of log2(F/C) of points.<br><br>

Q: Where can I find my differentially expressed genes?<br>
A: The differentially expressed genes are represented as red dots (for up-regulation) above the highest red line or as blue dots<br>
below the lowest red line.  They can also be found in the table below the scatter plot, where most up-regulated genes are on<br>
the top and most down-regulated genes are on the bottom.<br><br>

Q:Where can I find the IDs、F and C of these points. <br>
A:You can hover over these points to get its details<br><br>

</body>
</html>