<html>
<head>
    <meta charset="utf-8">
    <title>OMG</title>
</head>
<body>
<div >
    <div>
        <a href="/example" style="float:left;"><p>||  Example input file  |</p></a>
        <a href="/FAQ" style="float:left;"><p>|  FAQ  |</p></a>
        <a href="/credit" style="float:left;"><p>|  Credit  |</p></a>
        <a href="https://github.com/Bob984456043/OMG.git" style="float:left;"><p>|  Github ||</p></a>
    </div>

    <div align="center">
        <br><br>
        <h1>Welcome to use OMG</h1>
        <form action = "/uploader" method = "POST"
              enctype = "multipart/form-data">
            <input type = "file" name = "file"/>
            <input type = "submit" value="submit"/>
        </form>
    </div>
</div>
</body>
</html>